* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 2rem 3.5rem;
    border-radius: 0.5rem;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    gap: 0.8rem;
}



button {
    transition: all 0.1s ease;
    border: none;
    background-color: lightblue;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px 1px;
    color: #a13333;

}

button:active{
    scale: 0.95;
}

#counter {

    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 4rem;
    padding: 0rem 0rem;
}

@media (min-width: 780px) {
    main {
        padding: 3rem 7rem;
        gap: 3rem;

        .top {
            font-size: 3.5rem;
        }

        #counter {
            width: 33rem;
            // padding: 1rem 0px;
            font-size: 6rem;
        }

        button {
            width: 6rem;
            height: 6rem;
            font-size: 5rem;
        }
    }
}