* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
}

main{
    height: 70%;
    width: 30%;
    background-color: whitesmoke;
    border-radius: 0.3rem;
    /* overflow: hidden; */
}

.img{
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

main img{
    /* scale: 0.7; */
    object-fit: cover;
    width: 100%;
    height: 100%;

}
h1{
    text-align: center;
    margin-top: 1rem;
}

main .img i{
    font-size: 40px;
    background: linear-gradient(to right, rgb(186, 15, 186), rgb(100, 4, 84));
    background-clip: text;
    color: transparent;
    scale: 0;
    opacity: 0;
    /* bottom: 0%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
}